* {
    box-sizing: border-box;
}

header {
    background-color: grey;
   
}

header img {
    margin-bottom: 0cm;
}

nav {
    margin: 1rem auto;
    width: 960px;
    display: flex;
    align-items: center;
}

li {
    display: inline;
    margin-left: 80px;
    text-decoration: none;
}

main {
    margin: 30px auto 0;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    align-items: flex-start;

}

main img {
    margin-bottom: 20px;
}

img {
    margin-bottom: 30px;
}

footer {
    background-color: gray;
    height: 50px;
}

article {
    width: 450px;

}

article section {
    height: 320px;
    overflow: auto;
}

 a {
    text-decoration: none;
    color: white;
}

article > a {
    background-color: black;
    padding: 0.15rem 0.25rem;
    color: white;
}